.btn {
  outline: none;
  border: none;
  padding: 2px 18.5px;
  border-radius: 5px;
  background-color: #57EFDD;
  color: #ffffff;
  cursor: pointer;
}

.btn-back {
  outline: none;
  border: none;
  padding: 2px 18.5px;
  border-radius: 5px;
  background-color: #FF5050;
  color: #ffffff;
  cursor: pointer;
}

.btn-modal {
  padding: 2px 22px;
}