.main-container {
  max-width: 800px;
  margin: auto;
  padding: 0px 5px 0px 20px;
}

.container {
  width: 100%;
  display: flex;
  gap: 25px;
  margin-top: 30px;
  justify-content: flex-start;
}

.info-container {
  flex-grow: 1;
}

.info-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container > div > div {
  display: flex;
  gap: 5px;
}

.info-container > div > div > img {
  cursor: pointer;
  border-radius: 100px;
}

.texts-container > div {
  display: flex;
}

.texts-container > div > p, .picture-container > p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #747474;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin: 80px 15px 10px 10px;
  gap: 10px;  
}

.picture-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
}

.picture-container > p {
  margin: 0;
}

.picture-container > div > img {
  width: 100px;
  border-radius: 5px;
}

.picture-container > div {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.picture-container > div > div {
  display: flex;
  gap: 5px;
}

.picture-container > div > div > img {
  cursor: pointer;
  border-radius: 100px;
}

.cross {
  box-shadow: 0px 5px 10px rgb(2 2 2);
}

.tick {
  box-shadow: 0px 5px 10px rgb(22 159 8);
}