.person-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0px;
}

.add-btn {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #57EFDD;
  font-size: 20px;
  color: white;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-and-trash-can {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

.ellipse {
  position: absolute;
  top: 5px;
  right: 5px;
}

.checkbox-and-trash-can > img {
  cursor: pointer;
}

.checkbox-and-trash-can > input {
  cursor: pointer;
  margin-left: auto;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin: auto;
}

.search-input > input {
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 9px;
  padding: 15px;
  direction: rtl;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #5F5F5F;
}

.search-input > img {
  margin-right: 20px;
}