.person-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.add-btn {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #57EFDD;
  font-size: 20px;
  color: white;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}