.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.input-container > p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #747474;
}

.input-field {
  outline: none;
  border: none;
  width: 100%;
  max-width: 220px;
  border-radius: 5px;
  background-color: white;
  padding: 6.5px;
}