.input-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.input-field {
  outline: none;
  border: none;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}