.person-card {
  display: flex;
  gap: 15px;
  align-items: center;
}

.person-card > div {
  border-radius: 5px;
  width: 102px;
}

.person-card > div > img {
  border-radius: 5px;
  width: 100%;
}

.card-container {
  background-color: #E3E3E3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox-and-edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.checkbox-and-edit > div, .checkbox-and-edit > input {
  cursor: pointer;
} 

.check-btn {
  align-self: flex-end;
  margin-left: auto;
}

.person-card > div > p {
  margin: 0;
  padding-bottom: 10px;
}