.person-card {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* .person-card > div {
  border-radius: 5px;
  width: 102px;
} */

.person-card > div > img {
  border-radius: 5px;
  width: 100%;
  max-width: 102px;
}

.card-container {
  background-color: #E3E3E3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox-and-edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.checkbox-and-edit > div, .checkbox-and-edit > input {
  cursor: pointer;
} 

.check-btn {
  align-self: flex-end;
  margin-left: auto;
}

.person-card > div > p {
  margin: 0;
  margin-bottom: 10px;
  max-width: fit-content;
}

.highlight-name {
  background-color: #57EFDD;
  font-weight: bold;
}

.user-info-container {
  width: 100%;
  max-width: 500px;
}

.user-info-container > div {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.user-info-container > div > p {
  margin: 0px 0px 5px 0px;
}