.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.inputs-container {
  width: 100%;
  max-width: 365px;
  margin: auto;
}

.picture-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 60px;
  margin-top: 60px;
}

.picture-container > p {
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #747474;
}

.name-container > p {
  margin: 34px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 10px;  
}

.photo {
  width: 100px;
  height: 130px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  border: 1px solid #6EEBE7;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.photo > img {
  margin: auto;
}

.picture-container > img {
  width: 100px;
  border-radius: 5px;
}

.error-text {
  color: red;
  text-align: end;
  margin: 0px 25px 0px 0px;
}